* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: DFkai-sb, sans-serif;  /* 字體:標楷體 */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

header div.top {
    padding: 1rem;
    background-image: url("./image/background.png");
}

header div.top h1 {
    font-size: 2.5rem;
}

header div.top h2 {
    font-size: 1rem;
}

header nav {
    background-color: black;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    padding: 0.8rem 1.2rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    color: yellow;
}

.active {
    color: yellow;
}

main {
    display: flex;
    flex-wrap: wrap; /* 在不同尺寸的頁面可以自動排版 */
}

main section {
    padding: 1rem;
}

main section.left {
    flex: 1 1 200px;
}

main section.left h2 {
    padding-bottom: 1rem;
}

main section.left img {
    width: 90%;
}

main section.left table {
    padding-top: 1rem;
}

main section.left table, main section.left td {
    padding: 0.25rem;
}

main section.right {
    flex: 4 1 500px;
}

main section.right h2 {
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

main section.right ul {
    margin-left: 2rem;
}

p {
    padding: 0.5rem 0rem;
}